
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.log
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Allure test reports
allure-results/
allure-report/

# CI artifacts
*.log
*.cache
*.coverage
.pytest_cache/
.tox/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# OS junk
Thumbs.db
ehthumbs.db
desktop.ini
